button,
input,
select {
  font-family: inherit;
}

textarea {
  font-family: 'Lato', sans-serif;
}

button,
a {
  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}


input::placeholder {
  color: #aaaaaa;
}

hr {
  margin: 1rem 0;
  color: inherit;
  border: 0;
  border-top: 1px solid;
  opacity: .25;
}

.success-color,
.btn.success-color,
.btn.success-color:hover {
  background-color: #20A779;
}

.red-color,
.red-color:hover {
  color: var(--red) !important;
}

.btn {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: var(--light);
  background-color: var(--blue);
  border-radius: 20px;
  padding: 8px 12px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn .btn-icon {
  display: flex;
  color: inherit;
  font-size: 16px;
  margin-right: 6px;
}

.btn .btn-label {
  color: inherit;
  font-size: 16px;
  margin-right: 4px;
}

.btn:hover {
  background-color: rgba(60, 145, 230, 0.85);
}

.btn:active {
  transform: scale(0.98);
  background-color: var(--blue);
}

/* Table head */

#content .table-product .add-btn span:first-child {
  font-size: 18px;
  line-height: 18px;
  margin-right: 4px;
}

/* Table data */

#content main .table-data .table-container {
  height: fit-content;
  padding-bottom: 100px;
}


#content .table-data .action {
  position: relative;
}

#content .table-data .action-icon {
  display: block;
  cursor: pointer;
}

#content .table-data .action-list {
  display: none;
  position: absolute;
  z-index: 10;
  right: 110%;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  animation: actionList 0.25s ease-out;
}

.table-data .action-item a {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  color: var(--light);
  background-color: var(--dark);
  cursor: pointer;
  transition: background-color 0.05s linear;

  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}
.table-data .action-item div {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  color: var(--light);
  background-color: var(--dark);
  cursor: pointer;
  transition: background-color 0.05s linear;

  user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.table-data .action-item .action-item__icon {
  margin-right: 4px;
}


.table-data .action-item a:hover {
  color: var(--dark);
  background-color: var(--grey);
}

@keyframes actionList {
  from {
    max-width: 0;
    max-height: 0;
  }

  50% {
    max-width: 40px;
    max-height: 40px;
  }

  to {
    max-width: 200px;
    max-height: 200px;
  }
}
