<!DOCTYPE html>
<html lang="en">
<head th:replace="~{commonAdmin ::headAdmin}">

</head>

<body>
<!-- toast -->
<div id="toast"></div>
<!-- body -->
<section th:replace="~{commonAdmin ::adminSidebar(activeLi='dashboard')}"></section>
<section id="content">
    <nav th:replace="~{commonAdmin ::adminNav}"></nav>

    <main>
        <div class="head-title">
            <div class="left">
                <h1>Dashboard</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">Dashboard</a>
                    </li>
                    <li><i class="bx bx-chevron-right"></i></li>
                    <li>
                        <a class="active" href="#">Home</a>
                    </li>
                </ul>
            </div>
        </div>

        <ul id="box-info__dashboard" class="box-info">
            <li>
                <i class="bx bxs-calendar-check"></i>
                <span class="text">
            <h3 id="pending"></h3>
            <p>New Order</p>
          </span>
            </li>
            <li>
                <i class="bx bxs-dollar-circle"></i>
                <span class="text">
            <h3 id="money"></h3>
            <p>Total Sales</p>
          </span>
            </li>
        </ul>

        <div class="table-data">
            <div class="order table-container">
                <div class="head">
                    <h3>Recent Orders</h3>
                    <span class="head-icon">
              <a href="#"><i class="bx bx-search"></i></a>
            </span>
                    <span class="head-icon">
              <a href="#"><i class="bx bx-filter"></i></a>
            </span>
                </div>
                <table>
                    <thead>
                    <tr>
                        <th>Bill code</th>
                        <th>Receiver</th>
                        <th>Phone number</th>
                        <th>Adress</th>
                        <th>Created at</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="bill : ${bills}">
                        <td>
                            <p th:text="${bill.id}"></p>
                        </td>
                        <td>
                            <p th:text="${bill.nameReceiver}"></p>
                        </td>
                        <td>
                            <p th:text="${bill.phone}"></p>
                        </td>
                        <td>
                            <p th:text="${bill.address}"></p>
                        </td>
                        <td>
                            <p th:text="${#dates.format(bill.paymentTime, 'dd-MM-yyyy')}"></p>
                        </td>
                        <td>
    <span th:class="'status ' + ${#strings.toLowerCase(bill.status)}" th:text="${bill.status}">
    </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </main>
</section>
<script src="/admin/scripts/script.js"></script>
<script type="module" src="/admin/scripts/toast.js"></script>
<script>
    function formatNumberWithCommas(number) {
        return number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    const fetchStatistic = async () => {
        try {
            const ngayHienTai = new Date();
            const ngayDauThang = new Date(ngayHienTai.getFullYear(), ngayHienTai.getMonth(), 1);
            const startDateString = ngayDauThang.toISOString().split('T')[0];
            const endDateString = ngayHienTai.toISOString().split('T')[0];
            const res = await fetch(`http://localhost:8080/statistic/getOrderStatistic?startDate=${startDateString}&endDate=${endDateString}`);
            const data = await res.json();

            const pending = document.getElementById("pending");
            const money = document.getElementById("money");
            pending.innerHTML = formatNumberWithCommas(data.orders.PENDING) + "";
            money.innerHTML = formatNumberWithCommas(data.money) + " VND";

        } catch (e) {

        }
    }
    fetchStatistic().then();
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"
        integrity="sha512-WW8/jxkELe2CAiE4LvQfwm1rajOS8PHasCCx+knHG0gBHt8EXxS6T6tJRTGuDQVnluuAvMxWF4j8SNFDKceLFg=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</body>

</html>
