<!--Website: wwww.codingdung.com-->
<!DOCTYPE html>
<html lang="en">
<head th:replace="~{common ::head}">
</head>
<head>
    <link rel="stylesheet" href="/profile/style.css"/>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />
</head>

<body class=" flex justify-center w-full">
<div class="max-w-[1440px] w-full">
    <header th:replace="~{common ::header}"></header>
    <div class="container light-style flex-grow-1 container-p-y">
        <div class="card overflow-hidden">
            <div class="row no-gutters row-bordered row-border-light">
                <div class="col-md-3 pt-0">
                    <div th:replace="~{common ::userTab(activeDiv='change')}"
                         class="list-group list-group-flush account-settings-links">

                    </div>
                </div>
                <div class="col-md-9">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="account-change-password">
                            <div class="card-body pb-2">
                                <div class="mb-3">
                                    <label class="small mb-1" for="inputCurrentPassword"
                                    >Old password</label
                                    >
                                    <input
                                            class="form-control"
                                            id="inputCurrentPassword"
                                            type="text"
                                            placeholder="Mật khẩu hiện tại"

                                    />
                                </div>
                                <div class="row gx-3 mb-3">
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputNewPassword"
                                        >New password</label
                                        >
                                        <input
                                                class="form-control"
                                                id="inputNewPassword"
                                                type="text"
                                                placeholder="Mật khẩu mới"

                                        />
                                    </div>
                                    <div class="col-md-6">
                                        <label class="small mb-1" for="inputOldPassword"
                                        >Repeat new password</label
                                        >
                                        <input
                                                class="form-control"
                                                id="inputOldPassword"
                                                type="text"
                                                placeholder="Nhập lại mật khẩu mới"

                                        />
                                    </div>
                                </div>
                                <label class="btn btn-outline-primary">
                                    Save change
                                </label>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
    <div class="mt-[70px]">
        <div th:replace="common ::footer"></div>
    </div>
</div>

<script
        data-cfasync="false"
        src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"
></script>
<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript"></script>
<script src="/js/common.js"></script>
<!-- Đoạn JS validate và gửi dữ liệu -->
<script>
    $(document).ready(function () {

        $('.btn-outline-primary').click(function () {

            var oldPassword = $('#inputCurrentPassword').val();
            var newPassword = $('#inputNewPassword').val();
            var repeatPassword = $('#inputOldPassword').val();

            if (oldPassword === '' || newPassword === '' || repeatPassword === '') {
                alert('Vui lòng điền đầy đủ thông tin.');
                return;
            }

            if (newPassword !== repeatPassword) {
                alert('Mật khẩu mới và mật khẩu xác nhận không khớp.');
                return;
            }


            $.ajax({
                url: 'http://localhost:8080/auth/changePassword',
                type: 'PUT',
                contentType: 'application/json',
                data: JSON.stringify({
                    password: oldPassword,
                    newPassword: newPassword,
                    userId: localStorage.getItem("userId")
                }),
                success: function (response) {
                    alert('Đổi mật khẩu thành công!');
                    $('#inputCurrentPassword').val('');
                    $('#inputNewPassword').val('');
                    $('#inputOldPassword').val('');
                },
                error: function (error) {
                    alert(error.responseJSON.message);
                }
            });
        });
    });
</script>

</body>
</html>
