:root {
  --white-color: #fff;
  --black-color: #000;
  /* --text-color: #333;  */
  --bg-color: #ececec;
  --text-color: #fff;
  --main-color: #29fd53;
  --colorPrimary: #ff3737;
  --colorSecondary: #fff;
  --colorThird: #191919;
  --colorFourth: #797979;
  --colorBackground: rgb(0, 0, 0);
  --fontPrimary: "Montserrat", sans-serif;
  --fontSecondary: "Source Sans Pro", sans-serif;
  --btnPrimary: #ff3737;
  --btnSecondary: #343a40;
  --backgroundBlack: #000;
}
body {
}
* {
  box-sizing: inherit;
}
.grid {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
}
.grid__full-width {
  width: 100%;
}
.grid__row {
  display: flex;
  flex-wrap: wrap;
}

:root {
  --bg-color: #ececec;
  --text-color: #fff;
  --main-color: #29fd53;
  --colorPrimary: #ff3737;
  --colorSecondary: #fff;
  --colorThird: #191919;
  --colorFourth: #797979;
  --colorBackground: rgb(0, 0, 0);
  --fontPrimary: "Montserrat", sans-serif;
  --fontSecondary: "Source Sans Pro", sans-serif;
  --btnPrimary: #ff3737;
  --btnSecondary: #343a40;
  --backgroundBlack: #000;
}

body {
  min-height: 100vh;
  background: var(--bg-color);
  color: var(--text-color);
  min-height: 100vh;
  margin: 0;
  background: var(--bg-color);
  color: var(--text-color);
}
.or_ic a {
  color: coral;
  font-size: 18px;
  text-decoration: none;
  font-family: var(--fontPrimary);
  font-weight: 700;
  position: relative;
}

.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.pull-right {
  float: right !important;
}

.btn {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  padding: 11px 16px;
  display: inline-block;
  margin-top: 15px;
  border: none;
  text-align: center;
  -webkit-appearance: none;
}

.btn:hover {
  color: #000;
  background-color: #ccc;
  cursor: pointer;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}
